APP_ENV=prod
APP_NAME=nm-portfolio-api
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_DB=nm_portfolio
POSTGRES_USER=nm_portfolio
POSTGRES_PASSWORD=change-this-strong-password

DATABASE_URL=postgresql+psycopg://nm_portfolio:change-this-strong-password@db:5432/nm_portfolio

SECRET_KEY=change-this-secret-key-min-24-chars
