# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Database
*.db

# OS
.DS_Store

# Docker
*.log

# IDE
.vscode/
.idea/

# Sensitive files
*.pem
*.key
